<h1>Listing <%= @tweets.count %> tweets</h1>

<table class="table table-striped table-condensed">
  <tr>
    <th>Date</th>
    <th>Stream</th>
    <th>Mood positive</th>
    <th>Mood negative</th>
    <th>Tweet count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.date %></td>
    <td><%= tweet.stream.name unless tweet.stream.nil? %></td>
    <td><%= tweet.mood_positive %></td>
    <td><%= tweet.mood_negative %></td>
    <td><%= tweet.tweet_count %></td>
    <td><%= link_to 'Show', tweet %></td>
    <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
    <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
