<h1>Listing <%= @stocks.count %> stocks</h1>

<p><%= link_to 'New Stock', new_stock_path %></p>

<table class="table table-striped table-condensed">
  <tr>
    <th>Name</th>
    <th>Symbol</th>
    <th>Time zone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stocks.each do |stock| %>
  <tr>
    <td><%= stock.name %></td>
    <td><%= stock.symbol %></td>
    <td><%= stock.time_zone %></td>
    <td><%= link_to 'Show', stock %></td>
    <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
    <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
