<script type="text/javascript">

$(document).ready(function(){
  $(".start-process").click(function() {
    console.log("Starting process " + $(this).val());

    var xhReq = new XMLHttpRequest();
    xhReq.open("GET", "/streams/start_tweetstream.json?id="+$(this).val(), false);
    xhReq.send(null);
    console.log(xhReq.responseText);
  });
});

</script>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stream.name %>
</p>

<p>
  <b>Stock:</b>
  <%= @stream.stock_id %>
</p>

<p>
  <b>Consumer Key:</b>
  <%= @stream.consumer_key %>
</p>

<p>
  <b>Consumer Secret:</b>
  <%= @stream.consumer_secret %>
</p>

<p>
  <b>Oauth Token:</b>
  <%= @stream.oauth_token %>
</p>

<p>
  <b>Oauth Token Secret:</b>
  <%= @stream.oauth_token_secret %>
</p>

<p>
  <b>Last Tweet:</b>
  <%= @stream.tweets.last.updated_at.strftime("%F %T %Z") unless @stream.tweets.empty? %>
</p>

<p>
  <button type="button" class="btn btn-warning start-process" value="<%= @stream.id %>">Start process</button>
</p>

<%= link_to 'Edit', edit_stream_path(@stream) %> |
<%= link_to 'Back', streams_path %>
