<h2>Mood Chart</h2>

<div id="graph_labels" width="900px"></div><br />

<div id="graph_div"></div><br />

<script type="text/javascript">

var xhReq = new XMLHttpRequest();
xhReq.open("GET", "/streams/get_chart_header.json", false);
xhReq.send(null);
var header = JSON.parse(xhReq.responseText);

var xhReq = new XMLHttpRequest();
xhReq.open("GET", "/streams/get_chart_data.json", false);
xhReq.send(null);
var data = JSON.parse(xhReq.responseText);

for (var i = 0; i < data.length; i++) {
  data[i][0] = new Date(data[i][0]);
}

chart = new Dygraph(document.getElementById("graph_div"), data, { labels: header, labelsDiv: document.getElementById("graph_labels"), width: 900, legend: 'always', ylabel: "% positive" });

$(document).ready(function(){
  $(".chart_toggle").change(function() {
    chart.setVisibility(parseInt(this.id), this.checked);
  });
});

</script>

<%= form_tag("/search", :method => "get") do %>
  <% i = -1 %>
  <% Stream.all.each do |stream| %>
  <label class="checkbox inline" for="<%= i = i + 1 %>">
    <input type=checkbox id="<%= i %>" class="chart_toggle" checked>
    <%= stream.name %>
  </label>
  <% end %>
<% end %>

<h2>Notifications</h2>

<table class="table table-bordered">
  <tr><th>Time</th><th>Message</th></tr>
  <% @streams.each do |stream| %>
  <% if stream.tweets.count > 0 && Time.now - stream.tweets.last.updated_at > 600 %>
  <tr class="error"><td><%= Time.at(stream.tweets.last.updated_at.to_i + 600).localtime.strftime("%F %T %Z") %></td><td>No tweets for <%= link_to "#{stream.name} (ID: #{stream.id})", stream %> in the last 10 minutes.</td></tr>
  <% elsif stream.tweets.empty? %>
  <tr class="info"><td>-</td><td><%= link_to "#{stream.name} (ID: #{stream.id})", stream %> hasn't been started yet.</td></tr>
  <% end %>
  <% end %>
</table>
