<!DOCTYPE html>
<html>
<head>
  <title>TwitterStockMood</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p><%= link_to "Home", root_path %>&nbsp;|&nbsp;<%= link_to "Keywords", keywords_path %>&nbsp;|&nbsp;<%= link_to "Stocks", stocks_path %>&nbsp;|&nbsp;<%= link_to "Streams", streams_path %>&nbsp;|&nbsp;<%= link_to "Tweets", tweets_path %></p>

<%= yield %>

</body>
</html>
